.box {
	font-size: 0px;
	width: 800px
}

.green, .blue {
	height: 200px;
	width: 400px;
	margin: auto;
	display: inline-block;
	border: 1px solid black;
}

.grey, .black, .orange {
	height:300px;
	width: 33.33%;
	margin: auto;
	display: inline-block;
	border: 1px solid black;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.grey {
	background-color: grey
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}